*{
	text-align: center;
}
ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
	float: left;
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
img{
	width: 100px;
	height: 100px
}
#logo{
	position: relative;
	float: left;
	left: 50px;
	top: 30px;	
}
#links{
	float: right;
}
#menu{
	height: 75px;
	width: auto;
	background-color: purple;
}
.Absolute-Center.is-Responsive {
	width: 60%;
	height: 60%;
	min-width: 200px;
	max-width: 400px;
	padding: 40px;
}
.link{
	position: relative;

}